<nav class="bg-dark navbar toolbar">
  <div></div>
</nav>
<div class="grid-wrapper" *ngIf="!(uniqueCustomers.length > 0)">
  <div class="card">

    <img src="../../../assets/logo/logo.png" class="grey-icon" alt="">
    <div class="content">There are no customer yet</div>
    <div class="setup-link" (click)="navigateToSell()">START SELLING</div>
  </div>
</div>
<div class="container" *ngIf="changeCustomer && uniqueCustomers.length > 0">

  <h3 *ngIf="changeCustomer">Customers</h3>

  <div class="list-group">
    <a class="list-group-item list-group-item-action " (click)="selectCustomer(customer.number)"
       *ngFor="let customer of customerDetails; let i = index"
       [ngClass]="selectedCustomer === customer.number ? 'active text-white' : ''">
      <b>{{customer.customerName}}</b>
      <hr *ngIf="customer.customerName">
      <h4>{{customer.number}}</h4>
    </a>
  </div>

</div>
<div class="container" *ngIf="!changeCustomer  && uniqueCustomers.length > 0">
  <a class="menu float-right" (click)="toggleCustomer()"><i class="material-icons">view_list</i></a>
  <h3>History</h3>
  <div class="row text-white text-center">
    <div class="col-md card bg-info m-3 ">
      <div class="card-body m-3 ">
        <p>No. Of Item Purchased</p>
        <h2 class="font-weight-bolder"> {{selectedCustomerData.noOfItemsPurchased | number}}</h2>
      </div>
    </div>
    <div class="col-md card bg-info m-3">
      <div class="card-body  m-3">
        <p>Total worth</p>
        <h2 class="font-weight-bolder"> &#8377; {{selectedCustomerData.totalCostOfPurchase | number}}</h2>
      </div>
    </div>
    <div class="col-md card bg-info m-3">
      <div class="card-body  m-3">
        <p>No. Of Visits</p>
        <h2 class="font-weight-bolder">{{selectedCustomerData.totalNoOfVisit | number}}</h2>
      </div>
    </div>
  </div>
  <div class="row text-white text-center">
    <div class="col-md card bg-success m-3 ">
      <div class="card-body m-3 ">
        <p>Average Item Purchased</p>
        <h2 class="font-weight-bolder"> {{selectedCustomerData.noOfItemsPurchased / selectedCustomerData.totalNoOfVisit | number}}</h2>
      </div>
    </div>
    <div class="col-md card bg-success m-3">
      <div class="card-body  m-3">
        <p>Average Purchase</p>
        <h2 class="font-weight-bolder">
          &#8377; {{selectedCustomerData.totalCostOfPurchase / selectedCustomerData.totalNoOfVisit | number}}</h2>
      </div>
    </div>
  </div>
  <div class="row text-white text-center">
    <div class="col-md card bg-info m-3 ">
      <div class="card-body m-3 ">
        <p>Customer Since</p>
        <h2 class="font-weight-bolder"> {{selectedCustomerData.firstVisit.toDate() | date:'medium'}}</h2>
      </div>
    </div>
    <div class="col-md card bg-info m-3">
      <div class="card-body  m-3">
        <p>Last visits</p>
        <h2 class="font-weight-bolder" *ngIf="!selectedCustomerData.lastVisit"> {{selectedCustomerData.firstVisit.toDate() | date:'medium'}}</h2>
        <h2 class="font-weight-bolder" *ngIf="selectedCustomerData.lastVisit"> {{selectedCustomerData.lastVisit.toDate() | date:'medium'}}</h2>
      </div>
    </div>
    <div class="col-md card bg-info m-3">
      <div class="card-body  m-3">
        <p>Last Purchased Product</p>
        <h2 class="font-weight-bolder">{{lastPurchasedProduct}}</h2>
      </div>
    </div>
  </div>
  <div class="card" *ngFor="let invoice of selectedCustomerInvoiceData">
    <div class="card-body" *ngFor="let product of invoice.cartProducts">
      <p>{{product['prn']}}</p>
      <h5 class="card-title">{{product['productName']}}</h5>
      <p class="card-text">Total product quantity: {{product['totalQuantity']}}</p>
      <p class="card-text">Total product price: &#8377; {{product['totalPrice']}}</p>
      <hr>
    </div>

    <div class="card-body bg-dark text-white">
      <h5 class="card-title">Total price: &#8377; {{invoice.totalPrice}}</h5>
      <p class="card-text">Total quantity: {{invoice.totalQuantity}}</p>

    </div>
    <div class="card-footer bg-dark text-white">
      {{invoice.createdOn.toDate()}}
    </div>
  </div>
</div>
