<div class="nav-list bg-dark">
<mat-toolbar class="bg-dark text-white navbar">
  <div>
    <img src="../../../assets/logo/logo.png" class="logo align-top" alt="">
    <h4 class="logo-title">Omnikit</h4>
  </div>
</mat-toolbar>
<mat-nav-list *ngIf="user">
  <mat-list-item >
    <img mat-list-avatar src="{{user.photoUrl}}">
    <h4 mat-line>{{user.displayName}}</h4>
    <p mat-line> {{user.email}}</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item (click)="navigateToSetupStore()"
                 *ngIf="user.isRegister && storeState.selectedStore === null">
    <mat-icon mat-list-icon>add_circle</mat-icon>
    <h4 mat-line>Add new store</h4>
    <!--<p mat-line> </p>-->
  </mat-list-item>

  <mat-list-item (click)="navigateToManageStore()" [disabled]="storeState.selectedStore === null">
    <mat-icon mat-list-icon>store</mat-icon>
    <h4 mat-line>Manage Stores</h4>
    <!--<p mat-line> </p>-->
  </mat-list-item>
  <mat-divider></mat-divider>

  <div *ngIf="storeState.selectedStore !== null">
  <mat-list-item (click)="navigateTo('/dashboard')" *ngIf="user.isRegister">
    <mat-icon mat-list-icon>trending_up</mat-icon>
    <h4 mat-line> Dashboard</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/sales')" *ngIf="user.role !== 'Data entry'">
    <mat-icon mat-list-icon>shopping_cart</mat-icon>
    <h4 mat-line>Billing</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/add')" *ngIf="user.role !== 'Billing'">
    <mat-icon mat-list-icon>add_circle</mat-icon>
    <h4 mat-line>Add</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/store')">
    <mat-icon mat-list-icon>store</mat-icon>
    <h4 mat-line>Store</h4></mat-list-item>
  <mat-list-item (click)="navigateTo('/invoice')" *ngIf="user.role !== 'Data entry'">
    <mat-icon mat-list-icon>pages
    </mat-icon>
    <h4 mat-line>Invoice</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/manage/users')"
                 *ngIf="user.isRegister === true">
    <mat-icon mat-list-icon>account_box</mat-icon>
    <h4 mat-line>Manage users</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/customers')" *ngIf="user.role !== 'Data entry'">
    <mat-icon mat-list-icon>people</mat-icon>
    <h4 mat-line>Customer</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/billing')"
                 *ngIf="user.isRegister === true">
    <mat-icon mat-list-icon>attach_money</mat-icon>
    <h4 mat-line>Subscription</h4>
  </mat-list-item>
  <mat-list-item (click)="navigateToHelp()">
    <mat-icon mat-list-icon>live_help</mat-icon>
    <h4 mat-line>Help</h4></mat-list-item>
  </div>
  <mat-list-item (click)="logout()">
    <mat-icon mat-list-icon>exit_to_app</mat-icon>
    <h4 mat-line>Logout</h4>
    <!--<p mat-line> </p>-->
  </mat-list-item>
</mat-nav-list>
</div>
